@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
body{
    background-image: url("ab169440776905.5794d6b0b03e3.png");
    background-attachment:fixed;
   
    background-size: cover;
 
}
*{
    color: rgba(255, 255, 255, 0.705);
    box-sizing: border-box;
    
}
header{
    display: flex;
    font-family: 'Poppins';
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
header ul{
    display: flex;
    list-style: none;
    
}
a{
    padding: 0 5px;
}
header ul a{
    text-decoration: none;
    padding: 0 15px;
}

 header li:hover{
    color: #c82020;
    border-bottom: 1px solid #c82020;
}
.nav{
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    justify-content: space-around;
  
}
.icon{
    display: none;
}
.header-elem{
    flex: 1;
}


.content{
    width: 100%;
    padding: 20px 0;
}
.introduction{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}
.hello{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.705);

}
.name{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.705);
    padding: 10px 0;
}
.fonction{
    color: #db0f2d;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    padding: 0 0 20px;
}
.introduction p{
    color:rgba(255, 255, 255, 0.705);
    margin: 0 !important;
    padding: 5px 0;
  
}

i{
    color: #db0f2d;
    font-size: 14px;

}
.email span{
    color: #db0f2d;
}
.phone span{
    color: #db0f2d;
}
.contact{
    padding: 20px 0;
    display: grid;
    grid-template-areas:
    'email phone'
    'hire download';
    grid-gap: 40px;
}
.email{
    grid-area: email;
}
.phone{
    grid-area: phone;
}
.hire{
    grid-area: hire;
}
.download{
    grid-area: download;
    
}
.email , .phone{
display: flex;
flex-direction: column;
align-items: flex-start;
}
.hire{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.download i{
    color: rgb(124, 124, 124);
}
.download a{
    text-decoration: none;
    color: rgb(112, 112, 112);
}
.hire button{
  
}
.hire i{
    color: #ffffff;
}
.hire button{
background-color: #db0f2d;
border: 0;
height: 40px;
flex: 1;
}
.hire span{
    color: white;
    font-family: arial;
    font-size: 12px;
    font-weight: 300;
    padding: 0 2px;
}
.download{
    display: flex;
    align-items: center;
    height: 100%;
}




.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    padding: 5vw 0;
}
#icon i{
    color: #fafbfd !important;
}


.content lottie-player{
    width: 35%;
}


.About{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 20px;
}
.About img{
    width: 15%;
    
}

.About p{
    width: 30vw;
    padding: 3px;
}
#about-title{
    padding: 0;
    margin: 0;
    color: #272626;
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: 900;
}

#about-second-title{
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
    font-family: 'Poppins';
    color: white;
    
}
#about-second-title span{
    color: #db0f2d;
}

#details{
    background-color: #db0f2d;
    padding: 10px 25px;
    border-radius: 3px;
    box-shadow:0px 3px 2px #ce36362b;
  
}

.skills{
   padding: 5vw 15vw;
}
.card-child{
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    background-color: #202020;
    width: fit-content;
    justify-content: space-around;
    border-radius: 10px;
    font-family: 'Poppins';
    width: 21vw;
}
.card-child i{
    font-size: 30px;
    padding: 0 0 20px;
}
.card-child .title{
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
    padding: 5px 0;
}
.card-child p{
    color: #b3b3b3;
    padding: 0 0 40px;
    font-size: 14px;
   
}
.skills-title #about-second-title{
    padding: 1vw 0 !important;
    font-size: 20px;
}
#read{
    color: #db0f2d;
}
#read span{
    color: #db0f2d;
    padding: 0 20px;
}
.card{
    display: flex;
    justify-content: space-between;
}
#second-card {
    background-color: #db0f2d;
}
#second-card i{
    color: white;
}
#second-card span{
    color: white;
}
.skills-title{
    padding: 40px 0;
}
.portfolio{
    padding: 5vw 15vw;
}
.contact{
    padding: 5vw 15vw;
    display: flex;
    flex-direction: column;
}
form{
   display: flex;
   flex-direction: column;
   padding: 0vw 20vw;
}
form input{
    border: 1px solid #db0f2d;
    padding: 20px 5px;
    background-color: transparent;
}
form span{
    padding: 20px 0;
}
form div{
    padding: 30px 0;
}
form #details{
   text-align: center;
}

.project-item img{
    border-radius: 8px 8px 0 0;
    height: 300px;
}
.project-item{
    display: flex;
    flex-direction: column;
    height: 25vw;
    width: 30vw;
    border-radius: 8px;
    background-color: #272626;
    margin-bottom: 20px;
   
}
.project-item h2{
    padding: 0 20px;
    color: white;
    font-family: 'Poppins';
    font-size: 14px;
}
.project-item p{
    padding: 0 20px;
}
.card-groupe{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .header-elem{
       display: flex;
       align-items: center;
       justify-content: space-between;
    }
    *{
        flex-wrap: wrap;
    }
    .nav {
        display: none;

    }
    .icon{display: block;}
    .header.responsive{
        position: relative;
    }
    
    .header.responsive .nav{
        display: block;
       
    }
    .list a{
        padding: 0 0 10px;
    }
     
     header{
         flex-direction: column;
         align-items: stretch;
     }
    ul{
        flex-direction: column;
        align-items: flex-end;
        width: 100% !important;
    }
    #icon {
       text-align: center;
    }
    #icon i{
        padding: 0 5px;
    }


}